html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem;
    background-color: #ff0000 !important;
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }
 
 
 .myCustomTextRed {
    display: inline-block;
    font-weight: bold;
    color: #ff0000;

 }